@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Josefin Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

h1, h2, h3, figcaption {
  font-family: Pacifico, cursive;
  color: #f2b91b;
}

p, li {
  color: #f2f0f1;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

nav {
  width: 100%;
}

header, footer {
  background-color: black;
}

.group {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
}

li a {
  text-decoration: none;
}

li a:hover {
  color: white;
}

.sign {
  background-color: black;
  color: #f2b91b;
  border: 2px solid #f44336;
  width: 100px;
  height: 5vh;
  text-decoration: none;
}
